.cart {
  display: flex;
  /* justify-content: space-between; */
  /* border: 3px solid rgb(105, 30, 30); */
  height: 300px;
  padding-left: 50px;
  padding-right: 50px;
}
.box__detail {
  width: 50%;
  /* margin: 0 auto; */
  /* border: 3px solid rgb(105, 30, 30); */
  position: relative;
}
.cart img {
  object-fit: cover;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  /* border: 3px solid rgb(105, 30, 30); */
  margin: auto 50px auto 0;
}
.amount span {
  color: crimson;
  padding: 0 20px;
}
.amount button {
  width: 40px;
  height: 40px;
  border: 1px solid #777;
}
.delete {
  position: absolute;
  top: 0;
  right: 5px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 3px solid rgb(105, 30, 30); */
  color: var(--main-color);
  font-weight: 900;
  cursor: pointer;
}
.total {
  width: 50%;
  height: 50px;
  border: 3px solid rgb(105, 30, 30);
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.total h3 {
  color: crimson;
}

.payment__btn {
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--main-btnColor);
  transition: all 0.255s ease-in-out;
}
.payment__btn:hover {
  transform: translateY(-3px);
}
.payment__btn a {
  color: #000;
}
.payment__btn a:hover {
  color: #000;
}
