.filter__container {
  width: 100%;
  background-color: #f6f6f6;
  margin-top: 100px;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  /* align-items: center !important; */
}
.filter__menu {
  width: var(--main-width);
  /* min-height: 40px; */
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* overflow: hidden; */
  background-color: #fff;
  border-radius: 10px;
  /* position: relative; */
  z-index: 10;
}

/* ------------filter category------------- */
.filter__categories {
  border: 1px solid #ccc;
  outline: none;
  padding: 0 5px;
  background-color: var(--main-color);
  width: 218px;
  height: 50px;
  border-radius: 5px;
  border: none;
  position: relative;
  z-index: 1;
}
.filter__categories svg {
  font-size: 24px;
  position: absolute;
  right: 5%;
  top: 25%;
  z-index: 1;
}
.filter__categories select {
  width: 100%;
  height: 100%;
  appearance: none;
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  outline: none;
}
.filter__categories select > option {
  background-color: red;
}

/* ------------ end of the filter category------------- */

.filter__collection {
  display: flex;
  flex: 1;
  width: 20%;
  height: 50px;
  align-items: center;
  /* margin: 10px 0; */
  list-style: none;
}
.filter__collectionItem:first-child {
  margin-left: 30px;
}
.filter__collectionItem a {
  color: #000;
  transition: all 0.255s linear;
  margin-right: 30px;
}

.filter__collectionItem a:hover {
  color: #faad3d;
}
.filter__input {
  width: 20%;
  /* background-color: #ccc; */
  height: 50px;
  position: relative;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.filter__input:hover {
  outline: 1px solid var(--main-color);
}
.filter__input input {
  width: 100%;
  background: none;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  text-indent: 10px;
  font-size: 14px;
  border: none;
  outline: none;
}
.filter__input button {
  position: absolute;
  right: 10px;
  width: 40px;

  font-size: 16px;
  border: 1px solid #000;
  background-color: #f5f5f5;
  border-radius: 4px;
  z-index: 3;
}
.filter__input button:active {
  background-color: #ccc;
  outline: 3px solid var(--main-color);
}

@media (max-width: 720px) {
  .filter__collection {
    display: none;
    justify-content: space-around;
    width: 30%;
  }
}
