.history__page {
  /* border: var(--border--test); */
}
.orderHistory__container {
  width: 90%;
  min-height: 250px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  margin: 20px auto;
  padding: 10px 0;
  border-radius: 4px;
}
.orderHistory__name {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  margin-left: 10px;
  margin-right: 20px;
  font-size: 20px;
  width: 500px;
}
.orderHistory__name span {
  margin-right: 20px;
  margin: 10px 0;
  font-weight: 700;
}
.orderHistory__listCollection {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.orderHistory__listItem {
  list-style: none;
  display: flex;
  margin-bottom: 5px;
  width: 100%;
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.orderHistory__image {
  object-fit: cover;
  height: 150px;
  border-radius: 4px;
  width: 30%;
}
.orderHistory__text {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.orderHistory__text span {
  font-size: 20px;
  display: flex;
  width: 100%;
}
.orderHistory__text span b {
  width: 25%;
  margin-bottom: 20px;
  margin-left: 30px;
}
.orderHistory__text span strong {
  margin-left: 10px;
}
